<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/sntc.png" type="image/x-icon">
    <link rel="stylesheet" href="css/build.css">
    <title>4 Sinisters-Home</title>
</head>

<body>
    <div class="flex justify-between p-4 lg:hidden ">
        <img src="img/ham.svg" id="ham" class="w-9 h-9 font-bold" alt="">
        <div class="flex space-x-2">
            <img src="img/snt.jpg" class="w-10 h-10 rounded-full" alt="">
            <span class="pt-2 font-bold sm:text-lg">4 Sinisters</span>
        </div>
        <div class="flex flex-col">
            <a href="/login"><img src="img/account icon.svg" class="w-8 h-8 mx-auto" alt=""></a>
            <p class="text-xs">{{Ingamename}}</p>
        </div>

    </div>
    <nav class="lg:flex justify-between hidden p-4  lg:visible lg:px-10">
        <a href="">
            <div class="flex space-x-2 hover:cursor-pointer">
                <img src="img/snt.jpg" class="w-10 h-10 rounded-full" alt="">
                <span class="pt-2 font-bold text-xl hover:text-[#1abebe] transition delay-150">4 Sinisters</span>
            </div>
        </a>
        <div class="flex space-x-5 pt-2 text-lg font-bold">
            <a href="/"><span class="hover:text-[#1abebe] transition delay-150">Home</span></a>
            <a href="#aboutus"><span class="hover:text-[#1abebe] transition delay-150">About Us</span></a>
            <a href="#members"><span class="hover:text-[#1abebe] transition delay-150">Members</span></a>
            <a href="#contactus"><span class="hover:text-[#1abebe] transition delay-150">Contact US</span></a>
        </div>
        <div class="flex flex-col">
            <a href="/login"><img src="img/account icon.svg" class="w-9 h-9 mx-auto" alt=""></a>
            <p class="text-sm">{{Ingamename}}</p>
        </div>
    </nav>
    <div class="lgnav w-[100%] h-fit py-6  text-2xl font-bold space-y-6 flex flex-col border-dashed border-b-2 border-black
    items-start pl-8  absolute  bg-white inset-0 transform duration-500 ease-out  -translate-x-[100rem] translate-y-[4.6rem]  lg:hidden "
        id="lgnav">
        <div class=""><a href="/">Home</a></div>
        <div class=""><a href="#aboutus">About Us</a></div>
        <div class=""><a href="#members">Members</a></div>
        <div class=""><a href="#contactus">Contact Us</a></div>
    </div>
    <div>
        <img src="img/swt.jpg" alt="" class="px-4 lg:hidden">
        <img src="img/lgwt.jpg" alt="" class="px-4 hidden  lg:block lg:px-10">
    </div>
    <div id="aboutus" class="flex flex-col m-4 p-2 mt-16 border-l-8 border-[#1abebe] lg:m-10">
        <span class=" text-4xl font-extrabold pl-3 ">ABOUT US</span>
        <span class="font-semibold text-xl pl-3 text-gray-500">#THEGAMERS</span>
    </div>
    <div
        class="m-4 p-2 text-xl font-semibold space-y-4 items-center flex flex-col  text-gray-700 md:flex-row lg:justify-evenly">
        <span class="lg:w-[30rem]">We are India's small esports clan and a friend group, we live and breathe Gaming. We
            play classic and T3/T2 customs for fun with the clan members. All of us have a lot of fun together and these
            games are a great way to relieve stress. Creating this webpage was a way for us to remember the golden
            moments of our lives.</span>
        <img src="img/about.jpg" class="w-72" alt="">
    </div>
    <div class="flex flex-col m-4 p-2 mt-16 border-l-8 border-[#1abebe] lg:m-10" id="members">
        <span class=" text-4xl font-extrabold pl-3 ">OUR MEMBERS</span>
        <span class="font-semibold text-xl pl-3 text-gray-500">#THECHAMPIONS</span>
    </div>
    <div>
        <section class="text-gray-600 body-font">
            <div class="container px-5 py-24 mx-auto">
                <div
                    class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                    <div
                        class="sm:h-40 sm:w-40 h-36 w-36 lg:h-[10rem] lg:w-[10rem] sm:mr-10 inline-flex items-center justify-center">
                        <img src="img/members/1.jpg" alt="" class="rounded-full">
                    </div>
                    <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                        <h2 class="text-gray-900 text-lg title-font font-medium mb-2 lg:text-2xl">4SNxPolarizz</h2>
                        <p class="leading-relaxed text-base">He loves the AKM and M416 combo but if he gets a sniper
                            then enemies stay aware otherwise your helmet will be destroyed.</p>
                        <div class="flex justify-center space-x-2 pt-6 items-center sm:justify-start">
                            <a href="https://www.instagram.com/polarizz17/" target="_blank"
                                class=" text-[#1abebe] hover:cursor-pointer hover:text-black">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-7 h-7" viewBox="0 0 24 24">
                                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                                </svg>
                            </a>
                            <a href="https://www.facebook.com/arkaprovo.sen/" target="_blank"
                                class="text-[#1abebe] hover:cursor-pointer hover:text-black">
                                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    class="w-7 h-7" viewBox="0 0 24 24">
                                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div
                    class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                    <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                        <h2 class="text-gray-900 text-lg title-font font-medium mb-2 lg:text-2xl">4SNx7nmYT</h2>
                        <p class="leading-relaxed text-base">He loves the M416 and a sniper combo. He is the sniper god
                            of our team, his enemies' helmets breaking quick scopes and his laser 6x sprays are a
                            devastating combination.</p>
                        <div class="flex justify-center space-x-2 pt-6 items-center sm:justify-end">
                            <a href="https://www.instagram.com/ig.rounak_/" target="_blank"
                                class="text-[#1abebe] hover:cursor-pointer hover:text-black">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-7 h-7" viewBox="0 0 24 24">
                                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                                </svg>
                            </a>
                            <a href="https://twitter.com/PramanikRounak?t=R8zswKXxgC570qzzdoDeKA&s=08" target="_blank" class="text-[#1abebe] hover:cursor-pointer hover:text-black">
                                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    class="w-7 h-7" viewBox="0 0 24 24">
                                    <path
                                        d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                                    </path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div
                        class="sm:h-52 sm:w-52 sm:order-none order-first  h-36 w-36 lg:h-52 lg:w-52 sm:ml-10 inline-flex items-center justify-center ">
                        <img src="img/members/2.jpg" alt="" class="rounded-full">
                    </div>
                </div>
                <div class="flex items-center lg:w-3/5 mx-auto sm:flex-row flex-col">
                    <div
                        class="sm:h-52 sm:w-52 h-36 w-36 lg:h-52 lg:w-52 sm:mr-10 inline-flex items-center justify-center ">
                        <img src="img/members/3.jpg" alt="" class="rounded-full">
                    </div>
                    <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                        <h2 class="text-gray-900 text-lg title-font font-medium mb-2 lg:text-2xl">4SNxHyperJB</h2>
                        <p class="leading-relaxed text-base">He is the leader of our clan and the entry fragger of the
                            team. He just wipes the whole lobby and if he gets the Groza then he unleashes his god mood
                            and his favourite combo is Groza and M416.</p>
                        <div class="flex justify-center space-x-2 pt-6 items-center sm:justify-start">
                            <a href="https://www.instagram.com/ig_joydip/" target="_blank"
                                class=" text-[#1abebe] hover:cursor-pointer hover:text-black">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-7 h-7" viewBox="0 0 24 24">
                                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                                </svg>
                            </a>
                            <a href="https://www.facebook.com/joydip.barman.90" target="_blank"
                                class="text-[#1abebe] hover:cursor-pointer hover:text-black">
                                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    class="w-7 h-7" viewBox="0 0 24 24">
                                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <a href="/members">
                    <button
                        class="flex mx-auto mt-20 text-white bg-[#1abebe] border-0 py-2 px-8 focus:outline-none hover:bg-[#0a9393] rounded text-lg  transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 ">View
                        All</button></a>
            </div>
        </section>
    </div>
    <div id="contactus">
        <form action="/" method="POST">
            <section class="text-gray-600 body-font relative">
                <div class="container px-5 py-24 mx-auto">
                    <div class="flex flex-col text-center w-full mb-12">
                        <h1 class="sm:text-3xl text-5xl font-bold  title-font mb-4 text-gray-900">LET'S TALK!</h1>
                        <p class="text-red-600 text-lg">{{formErr}}</p>
                    </div>
                    <div class="lg:w-1/2 md:w-2/3 mx-auto">
                        <div class="flex flex-wrap -m-2">
                            <div class="p-2 w-1/2">
                                <div class="relative">
                                    <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
                                    <input type="text" id="name" name="name"
                                        class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-[#0a9393] focus:bg-white focus:ring-1 focus:ring-[#0a9393] text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                                </div>
                            </div>
                            <div class="p-2 w-1/2">
                                <div class="relative">
                                    <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
                                    <input type="email" id="email" name="email"
                                        class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-[#0a9393] focus:bg-white focus:ring-1 focus:ring-[#0a9393] text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                                </div>
                            </div>
                            <div class="p-2 w-full">
                                <div class="relative">
                                    <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
                                    <textarea id="message" name="message"
                                        class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-[#0a9393] focus:bg-white focus:ring-1 focus:ring-[#0a9393] h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
                                </div>
                            </div>
                            <div class="p-2 w-full">
                                <button type="submit"
                                    class="flex mx-auto text-white bg-[#1abebe] border-0 py-2 px-8 focus:outline-none hover:bg-[#0a9393] rounded text-lg transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110">Submit</button>
                            </div>
                            <div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">
                                <a href="mailto:4sinistersofficials@gmail.com"
                                    class="text-[#1abebe]">4sinistersofficials@gmail.com</a>
                                <p class="leading-normal my-5">Jalpaiguri
                                    <br>West Bengal, 735101
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
    <div>
        {{>footer}}
    </div>

    <script src="js/script.js"></script>
</body>

</html>