<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/sntc.png" type="image/x-icon">
    <link rel="stylesheet" href="css/build.css">
    <title>4 Sinisters Official</title>
</head>

<body>
    <nav class="justify-between  mx-4 py-4 border-b-2 border-black ">
        <a href="/">
            <div class="flex space-x-2 justify-center">
                <img src="img/snt.jpg" class="w-14 h-14 rounded-full" alt="">
                <span class="pt-2 font-bold text-3xl hover:text-[#1abebe] transition delay-150">4 Sinisters</span>
            </div>
        </a>
    </nav>
    <div class="flex flex-col m-4 p-2 mt-16 border-l-8 border-[#1abebe] lg:m-10" id="members">
        <span class=" text-4xl font-extrabold pl-3 ">OUR MEMBERS</span>
        <span class="font-semibold text-xl pl-3 text-gray-500">#THECHAMPIONS</span>
    </div>
    <div>
        <section class="text-gray-600 body-font">
            <div class="container px-5 py-24 mx-auto">
                <div
                    class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                    <div
                        class="h-36 w-36 lg:h-[10rem] lg:w-[10rem] sm:mr-10 inline-flex items-center justify-center">
                        <img src="img/members/1.jpg" alt="" class="rounded-full">
                    </div>
                    <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                        <h2 class="text-gray-900 text-lg title-font font-medium mb-2 lg:text-2xl">4SNxPolarizz</h2>
                        <p class="leading-relaxed text-base">He loves the AKM and M416 combo but if he gets a sniper
                            then enemies stay aware otherwise your helmet will be destroyed.</p>
                        <div class="flex justify-center space-x-2 pt-6 items-center sm:justify-start">
                            <a href="https://www.instagram.com/polarizz17/" target="_blank" class="text-[#1abebe] hover:cursor-pointer hover:text-black">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-7 h-7" viewBox="0 0 24 24">
                                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                                </svg>
                            </a>
                            <a href="https://www.facebook.com/arkaprovo.sen/" target="_blank" class="text-[#1abebe] hover:cursor-pointer hover:text-black">
                                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    class="w-7 h-7" viewBox="0 0 24 24">
                                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div
                    class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                    <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                        <h2 class="text-gray-900 text-lg title-font font-medium mb-2 lg:text-2xl">4SNx7nmYT</h2>
                        <p class="leading-relaxed text-base">He loves the M416 and a sniper combo. He is the sniper god of our team, his enemies' helmets breaking quick scopes and his laser 6x sprays are a devastating combination.</p>
                        <div class="flex justify-center space-x-2 pt-6 items-center sm:justify-end">
                            <a href="https://www.instagram.com/ig.rounak_/" target="_blank" class="text-[#1abebe] hover:cursor-pointer hover:text-black">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-7 h-7" viewBox="0 0 24 24">
                                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                                </svg>
                            </a>
                            <a href="https://twitter.com/PramanikRounak?t=R8zswKXxgC570qzzdoDeKA&s=08" target="_blank" class="text-[#1abebe] hover:cursor-pointer hover:text-black">
                                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-7 h-7" viewBox="0 0 24 24">
                                <path
                                    d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                                </path>
                            </svg>
                            </a>
                        </div>
                    </div>
                    <div
                        class=" sm:h-52 sm:w-52 sm:order-none order-first h-36 w-36 lg:h-52 lg:w-52 sm:ml-10 inline-flex items-center justify-center ">
                        <img src="img/members/2.jpg" alt="" class="rounded-full">
                    </div>
                </div>
                <div
                    class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                    <div
                        class=" sm:h-52 sm:w-52 h-36 w-36 lg:h-52 lg:w-52 sm:mr-10 inline-flex items-center justify-center ">
                        <img src="img/members/3.jpg" alt="" class="rounded-full">
                    </div>
                    <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                        <h2 class="text-gray-900 text-lg title-font font-medium mb-2 lg:text-2xl">4SNxHyperJB</h2>
                        <p class="leading-relaxed text-base">He is the leader of our clan and the entry fragger of the team. He just wipes the whole lobby and if he gets the Groza then he unleashes his god mood and his favourite combo is Groza and M416.</p>
                        <div class="flex justify-center space-x-2 pt-6 items-center sm:justify-start">
                            <a href="https://www.instagram.com/ig_joydip/" target="_blank" class=" text-[#1abebe] hover:cursor-pointer hover:text-black">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-7 h-7" viewBox="0 0 24 24">
                                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                                </svg>
                            </a>
                            <a href="https://www.facebook.com/joydip.barman.90" target="_blank" class="text-[#1abebe] hover:cursor-pointer hover:text-black">
                                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    class="w-7 h-7" viewBox="0 0 24 24">
                                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div
                    class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                    <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                        <h2 class="text-gray-900 text-lg title-font font-medium mb-2 lg:text-2xl">4SNxNOOBY益XT</h2>
                        <p class="leading-relaxed text-base">It's safe to say that he's the most toxic and funniest guy in the squad. The whole experience of playing is so enjoyable because of him. He loves his M762 and wipes squads with it.</p>
                        <div class="flex justify-center space-x-2 pt-6 items-center sm:justify-end">
                            <a href="https://www.instagram.com/the_siddhanta__/" target="_blank" class="text-[#1abebe] hover:cursor-pointer hover:text-black">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-7 h-7" viewBox="0 0 24 24">
                                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                                </svg>
                            </a>
                            <a href="https://www.facebook.com/siddhanta.das.319" target="_blank" class="text-[#1abebe] hover:cursor-pointer hover:text-black">
                                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    class="w-7 h-7" viewBox="0 0 24 24">
                                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div
                        class=" sm:h-52 sm:w-52 sm:order-none order-first  h-36 w-36 lg:h-52 lg:w-52 sm:ml-10 inline-flex items-center justify-center ">
                        <img src="img/members/4.jpg" alt="" class="rounded-full">
                    </div>
                </div>
                <div
                    class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                    <div
                        class="sm:h-52 sm:w-52 h-36 w-36 lg:h-52 lg:w-52 sm:mr-10 inline-flex items-center justify-center">
                        <img src="img/members/5.jpg" alt="" class="rounded-full">
                    </div>
                    <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                        <h2 class="text-gray-900 text-lg title-font font-medium mb-2 lg:text-2xl">4SNxCODE</h2>
                        <p class="leading-relaxed text-base">He is an OG player also he brings us all to this battleground.He is the all-rounder player in our team. His hip fire in close-range laser sprays in mid-range and snipes in long-range is destructive.</p>
                        <div class="flex justify-center space-x-2 pt-6 items-center sm:justify-start">
                            <a href="https://www.instagram.com/souradipsingha.88/" target="_blank" class="text-[#1abebe] hover:cursor-pointer hover:text-black">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-7 h-7" viewBox="0 0 24 24">
                                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                                </svg>
                            </a>
                            <a href="https://www.facebook.com/souradip.singha.10" target="_blank" class="text-[#1abebe] hover:cursor-pointer hover:text-black">
                                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    class="w-7 h-7" viewBox="0 0 24 24">
                                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div
                    class="flex items-center lg:w-3/5 mx-auto  pb-10 mb-10  sm:flex-row flex-col">
                    <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                        <h2 class="text-gray-900 text-lg title-font font-medium mb-2 lg:text-2xl"> 4SNxPuPu</h2>
                        <p class="leading-relaxed text-base">Among our team members, he is the lone survivor. We still have hope if he survives in the game. His skills allow him to sneak into a squad and kick them out from the lobby on his own.</p>
                        <div class="flex justify-center space-x-2 pt-6 items-center sm:justify-end">
                            <!-- <a href=""><img src="img/ig.svg" alt="" class="w-6 "></a>
                            <a href=""><img src="img/fb.svg" alt="" class="w-6"></a> -->
                            <a href="https://www.instagram.com/badhon.palak/" target="_blank" class=" text-[#1abebe] hover:cursor-pointer hover:text-black">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-7 h-7" viewBox="0 0 24 24">
                                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                                </svg>
                            </a>
                            <a href="https://www.facebook.com/badhon.palak" target="_blank" class="text-[#1abebe] hover:cursor-pointer hover:text-black">
                                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    class="w-7 h-7" viewBox="0 0 24 24">
                                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div
                        class="sm:h-52 sm:w-52 sm:order-none order-first  h-36 w-36 lg:h-52 lg:w-52 sm:ml-10 inline-flex items-center justify-center ">
                        <img src="img/members/6.jpg" alt="" class="rounded-full">
                    </div>
                </div>
            </div>
        </section>
    </div>
    {{>footer}}
</body>

</html>